body.theme-darkly a {
    text-decoration: none;
}

body.theme-darkly td {
    padding: 10px 5px 5px 20px;
}

body.theme-darkly .vIntegerField {
    width: 50px;
    padding-left: 5px;
    background-color: white;
}

body.theme-darkly .vIntegerField {
    width: 50px;
    padding-left: 5px;
    background-color: white;
}

body.theme-darkly #result_list {
    background-color: white;
}